.LeftNav-container {
	display: flex;
	height: 100%;
	margin-left: -15em;
	width: 15em;
	z-depth: 1000;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

@keyframes logo-animation {
  0% { opacity: 0 }
  100% { opacity: 1}
}

.LeftNav-logo {
	opactity: 0;
	height: 60px;

	animation: logo-animation 1s forwards;
}

.LeftNav-bar-container {
	text-align: center;
	padding: 10px;	
}

.LeftNav-list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.LeftNav-list-item {
	padding: 20px;
	color: white;
}

.LeftNav-list-item:hover {
	background-color: #50E3C2;
	margin-left: 10px;
	padding: 20px;

	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: background-color 0.5s 0s, margin-left 1s 0;
}

.LeftNav-list-item.active {
	background-color: #545454;
	color: white;

	-moz-box-shadow:    inset 0 0 3px #000000;
	 -webkit-box-shadow: inset 0 0 3px #000000;
	 box-shadow:         inset 0 0 3px #000000;
}


.LeftNav-container.show {
	margin-left: 0em;
}


.LeftNav-bar {
	background-color: grey;
	height: 100%;
	position: fixed;
	width: 15em;

	-moz-box-shadow:    inset 0 0 3px #000000;
	 -webkit-box-shadow: inset 0 0 3px #000000;
	 box-shadow:         inset 0 0 3px #000000;
}
