.ProfileHeader-container {
	display: flex;
	width: 400px;
}

.ProfileHeader-image {
	height: 160px;
  clip-path: circle(60px at center);
}

.ProfileHeader-descriptor {
	padding-top: 20px;
	padding-left: 30px;
}

