.App {
  display: flex;
  flex-direction: row;
}

.App-left-nav-container {
  display: flex;
  width: 15em;
  height: 100%;
  z-depth: 1000;
  margin-left: -15em;
}

.App-main-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.App-navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.App-stack-button {
  display: inline-block;
  position: relative;
  left: 20px;
  top: 50px;
}

.fade-enter {
  opacity: 0.00;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms 100ms;
}

.fade-leave {
  visibility: hidden;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.00;
  transition: opacity 200ms;
}
